.blockLogo {
    display: flex;
    width: 179px;
    height: 36px;
    justify-content: space-between;
}

.logoName {
    color: #9854F6;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}